<div class="rounded-lg border shadow-sm border-gray-700 bg-gray-800 flex flex-col md:flex-row">
    <img class="h-32 w-full md:h-44 md:w-44 min-w-28 md:min-w-44 object-cover rounded-t-lg md:rounded-start-xl border-b md:border-r border-gray-600"
        [src]="productCartItem().product.imagen" alt="item imagen" />

    <div class="flex justify-between items-start md:items-center flex-col md:flex-row p-2 md:p-4 w-full px-5">
        <div class="w-full md:w-min h-full flex md:flex-col justify-between md:justify-evenly items-center md:items-start">
            <a [routerLink]="['/catalogo/producto/', productCartItem().product.id]"
                routerLinkActive="router-link-active"
                class="text-lg md:text-2xl font-medium text-gray-900 hover:underline dark:text-white">{{
                productCartItem().product.nombre }}</a>

            <div class="flex items-center gap-4">
                <button mat-flat-button (click)="onFav.emit(productCartItem().product)"
                    class="!w-min !flex !justify-center !items-center !text-sm !font-medium !gap-2 !rounded-lg !bg-pink-200 !text-pink-900">
                    <mat-icon class="!m-0 !p-0">favorite</mat-icon>
                    <span class="hidden md:block">Añadir a favoritos</span>
                </button>

                <button mat-flat-button (click)="onRemove.emit(productCartItem().product.id)"
                    class="!w-min !flex !justify-center !items-center !text-sm !font-medium !gap-2 !bg-red-500 !rounded-lg !text-white">
                    <mat-icon class="!m-0 !p-0">delete</mat-icon>
                    <span class="hidden md:block">Eliminar</span>
                </button>
            </div>
        </div>
        <div class="flex items-center mt-8 justify-between w-full md:w-min">
            <button (click)="onDecrease.emit(productCartItem())" mat-icon-button
                class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-600 bg-gray-700 hover:bg-gray-600 focus:ring-gray-700">
                <mat-icon>remove</mat-icon>
            </button>
            <input type="text" [value]="productCartItem().quantity" data-input-counter
                class="w-10 shrink-0 text-center text-lg font-medium bg-gray-800 border-gray-600 text-white focus:ring-gray-700"/>
            <button (click)="onIncrease.emit(productCartItem())" mat-icon-button
                class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border ">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <p class="text-xl font-semibold text-white !m-0 !p-0">{{ productCartItem().product.precio * productCartItem().quantity|
            currency:'CLP' }}</p>
    </div>
</div>