<article class="rounded-lg border shadow-lg dark:shadow-sm border-gray-200 dark:border-gray-700 bg-slate-100 dark:bg-gray-800 flex flex-col md:flex-row">
    <img class="h-32 w-full md:h-44 md:w-44 min-w-28 md:min-w-44 object-cover md:!rounded-s-lg md:!rounded-e-none !rounded-t-lg border-b md:border-e md:border-b-0 border-gray-300 dark:border-gray-600"
        [src]="productCartItem().product.imagen" [alt]="'producto ' + productCartItem().product.nombre" />

    <div class="flex justify-between items-start md:items-center flex-col md:flex-row p-2 md:p-4 w-full px-5 gap-10 md:gap-0">
        <div
            class="w-full md:max-w-72 lg:max-w-96 h-full flex md:flex-col justify-between md:justify-evenly items-center md:items-start">
            <a [routerLink]="['/catalogo/producto/', productCartItem().product.slug]"
                routerLinkActive="router-link-active"
                class="text-lg max-w-32 md:max-w-60 min-h-20 overflow-clip md:text-2xl font-medium text-gray-900 hover:underline text-wrap dark:text-white"
                matTooltip="Ver producto"
                >
                {{productCartItem().product.nombre }}</a>

            <div class="flex items-center gap-2">
                <button mat-icon-button (click)="onFav.emit(productCartItem().product)" matTooltip="Agregar a favoritos"
                    class="!p-3 !w-min !flex !justify-center !items-center !text-sm !font-medium !gap-2 !rounded-lg !bg-pink-800 !text-pink-200 dark:!bg-pink-200 dark:!text-pink-900">
                    <mat-icon class="!m-0 !p-0">favorite</mat-icon>
                    <span class="sr-only">Añadir producto a favoritos</span>
                </button>

                <button mat-icon-button (click)="onRemove.emit(productCartItem().product.id)" matTooltip="Eliminar del carrito"
                    class="!p-3 !w-min !flex !justify-center !items-center !text-sm !font-medium !gap-2 !bg-red-500 !rounded-lg !text-white">
                    <mat-icon class="!m-0 !p-0">delete</mat-icon>
                    <span class="sr-only">Eliminar Producto</span>
                </button>
            </div>
        </div>
        <div class="flex md:flex-col items-center justify-between md:gap-5 w-full md:w-min">
            <p class="flex text-xl font-semibold text-gray-900 dark:text-gray-100 !m-0 !p-0"><span class="sr-only">Total</span>{{ productCartItem().product.precio *
                productCartItem().quantity|
                currency:'CLP' }}
            </p>
            <div class="flex items-center justify-center">
                <button (click)="onDecrease.emit(productCartItem())" mat-icon-button matTooltip="Disminuir">
                    <mat-icon class="!m-0 !p-0 !text-gray-900 dark:!text-gray-100">remove</mat-icon>
                    <span class="sr-only">Quitar producto del carrito</span>
                </button>
                <input type="text" [value]="productCartItem().quantity" data-input-counter
                    class="w-10 shrink-0 text-center text-lg font-medium bg-transparent text-gray-900 dark:text-gray-100" />
                    <span class="sr-only">Cantidad de productos: {{ productCartItem().quantity }}</span>
                <button (click)="onIncrease.emit(productCartItem())" mat-icon-button matTooltip="Incremetar">
                    <mat-icon class="!text-gray-900 dark:!text-gray-100">add</mat-icon>
                    <span class="sr-only">Añadir producto al carrito</span>
                </button>
            </div>
        </div>
    </div>
</article>