<p-carousel 
[value]="images"
[circular]="true"
[showNavigators]="true"
[showIndicators]="true"
[indicatorsContentClass]="'bg-transparent p-2 flex items-center justify-center gap-3'"
[indicatorStyleClass]="'heroIndicator dark:bg-gray-100 bg-gray-900 rounded-full p-1 !z-50 !w-3 !h-3 hover:cursor-pointer'"
(onPage)="updateIndicatorStyle($event)"
[responsiveOptions]="responsiveOptions"
[autoplayInterval]="5000"
>

    <ng-template let-image pTemplate="item">
        <div class="relative border border-gray-200 dark:border-gray-600 rounded-lg shadow-md m-3 dark:shadow-none">
            <img 
            [src]="image" 
            alt="Imagen Hero" 
            class="w-full h-[456px] object-cover rounded-lg"
            draggable="false"/>
        </div>
    </ng-template>
</p-carousel>