<nav
    class="flex items-center justify-between !bg-white dark:!bg-gray-900 !text-gray-900 dark:!text-white h-16 w-full px-8 md:px-[20vw] transition-colors">

    <div class="flex items-center justify-between w-full lg:w-auto">
        <button mat-icon-button class="lg:!hidden !w-14 !h-14 !text-gray-900 dark:!text-white" (click)="toggleSidenav.emit()">
            <mat-icon>menu</mat-icon>
        </button>
        <a href="/" class="flex items-center gap-2">
            <img src="favicon.ico" class="h-8 rounded-md" alt="Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap">Camaras</span>
        </a>
    </div>

    <div class="items-center justify-evenly hidden lg:flex">
        <a [routerLink]="['/home']" routerLinkActive="activeLink"
            class="link">
            Home
        </a>
        <a [routerLink]="['/catalogo']" routerLinkActive="activeLink"
            class="link">
            Catálogo
        </a>
        @if (isLoggedIn && user?.rol === 'admin'){
        <a [routerLink]="['/dashboard']" routerLinkActive="activeLink"
            class="link">
            Dashboard
        </a>
        }
    </div>

    <div class="flex items-center gap-2">
        <a [routerLink]="['/carrito']" 
            routerLinkActive="activeLink"
            class="custom-badge link !hidden lg:!flex"
            matTooltip="Ir al Carrito"
            >
            <mat-icon>shopping_cart</mat-icon>
            <span class="sr-only">Carrito de compras</span>
            @if (cartState.count() > 0){
            <span class="text-md ml-2">{{ cartState.count()}}</span>
            }
        </a>
        <button 
        type="button" 
        mat-icon-button 
        [matMenuTriggerFor]="menu" 
        class="!hidden lg:!flex !items-center !rounded-md dark:!text-white !text-gray-900" matTooltip="Perfil">
            <span class="sr-only">Open user menu</span>
            <mat-icon class="!m-0 !p-0 !w-min">person</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="menu">
            @if(isLoggedIn){
            <p mat-menu-item>{{ user?.nombre }}</p>
            <p mat-menu-item>{{ user?.email }}</p>
            <p mat-menu-item>{{ user?.rol }}</p>
            <a mat-menu-item>
                <mat-icon>local_shipping</mat-icon>
                Mis Compras
            </a>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Cerrar sesión
            </button>
            } @else {
            <button mat-menu-item (click)="openAuthDialog()">
                <mat-icon>logout</mat-icon>
                Iniciar sesión
            </button>
            <a mat-menu-item>
                <mat-icon>local_shipping</mat-icon>
                Estado de Compra
            </a>
            }
        </mat-menu>
        <app-theme-toggler class="!hidden lg:!block"></app-theme-toggler>
    </div>
</nav>