<div class="container min-w-full">
  <app-header-admin (toggleSidenav)="opened = !opened"></app-header-admin>
  <mat-sidenav-container class="h-full min-h-screen mt-16 flex flex-col justify-between items-center dark:!bg-gray-900">
    <mat-sidenav class="!rounded-none" [(opened)]="opened" [mode]="mode">
      <button mat-button
        [routerLink]="['/dashboard']"
        class="!bg-gray-800 hover:!bg-gray-700 !rounded-md !text-white !w-full !p-8 !text-lg !flex !items-center !justify-start">
        Dashboard
        <mat-icon>dashboard</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu"
        class="!bg-gray-800 hover:!bg-gray-700 !rounded-md !text-white !w-full !p-8 !text-lg !flex !items-center !justify-start relative">
        Mantenedores
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <a mat-menu-item [routerLink]="['categorias']" routerLinkActive="active">
          Categorias
          <mat-icon>category</mat-icon>
        </a>
        <a mat-menu-item [routerLink]="['productos']" routerLinkActive="active">
          Productos
          <mat-icon>inventory_2</mat-icon>
        </a>
        <a mat-menu-item [routerLink]="['usuarios']" routerLinkActive="active">
          Usuarios
          <mat-icon>person</mat-icon>
        </a>
      </mat-menu>
      <button mat-button (click)="logout()"
        class="!bg-gray-800 hover:!bg-gray-700 !rounded-md !text-white !w-full !p-8 !text-lg !flex !items-center !justify-start">
        Cerrar Sesión
        <mat-icon>logout</mat-icon>
      </button>
    </mat-sidenav>
    <mat-sidenav-content class="p-2 dark:!bg-gray-900">
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer-admin></app-footer-admin>
</div>