mat-sidenav{
    @apply bg-gray-800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 32px;
}

::ng-deep .menu{
    @apply bg-gray-700 !important;
    color: white !important;
    width: 190px !important;
}

.active{
    @apply !bg-gray-900 !text-gray-100 dark:!bg-gray-100 dark:!text-gray-900;
}