<section class="flex justify-center items-center w-full px-14 h-[630px] bg-gray-950 flex-col relative">
    <a href="/" class="font-semibold text-2xl text-white flex items-center gap-2 absolute top-5">
        <img src="favicon.ico" class="h-8 rounded-md" alt="Logo" />
        <span>Camaras</span>
    </a>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 !w-full">
        <h1 class="text-3xl text-white !font-semibold text-center !mb-2">Registro</h1>
        <mat-form-field appearance="fill" class="!w-full">
            <mat-label>Nombre</mat-label>
            <input matInput id="nombre" type="text" formControlName="nombre" class="!w-full">
            <mat-icon matSuffix>person</mat-icon>
            @if(nombre?.hasError('required')) {
            <mat-error>El nombre es requerido</mat-error>
            } @else if (nombre?.hasError('maxlength')) {
            <mat-error>El nombre debe tener menos de 20 caracteres</mat-error>
            } @else if (nombre?.hasError('pattern')) {
            <mat-error>El nombre debe tener solo letras y espacios</mat-error>
            }
            
        </mat-form-field>
        <mat-form-field appearance="fill" class="!w-full">
            <mat-label>Email</mat-label>
            <input matInput id="email" formControlName="email" class="!w-full" placeholder="ejemplo@camaras.com">
            <mat-icon matSuffix>email</mat-icon>
            @if(email?.hasError('required')) {
            <mat-error>El correo electrónico es requerido</mat-error>
            } @else if (email?.hasError('email')) {
            <mat-error>Formato de correo inválido</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="fill" class="!w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput id="password" type="password" formControlName="password" class="!w-full"
                placeholder="********">
            <mat-icon matSuffix>password</mat-icon>
            @if(password?.hasError('required')) {
            <mat-error>La contraseña es requerida</mat-error>
            } @else if (password?.hasError('minlength')) {
            <mat-error>La contraseña debe tener al menos 8 caracteres</mat-error>
            } @else if (password?.hasError('pattern')) {
            <mat-error>La contraseña debe tener al menos un número y un caracter especial</mat-error>
            } @else if (password?.hasError('maxlength')) {
            <mat-error>La contraseña debe tener menos de 20 caracteres</mat-error>
            }
        </mat-form-field>
        <button mat-button
        [disabled]="!registerForm.valid" 
        type="submit"
            class="!bg-slate-100 !rounded-lg disabled:!bg-gray-400 disabled:!text-gray-600 !text-gray-900 !p-4">
            Registrar
        </button>
        <span class="flex items-center justify-center absolute bottom-5 right-5 bg-gray-800 rounded-md p-3 hover:scale-105 transition">
            <img 
            src="recaptcha-logo.png" 
            alt="logo reCAPTCHA"
            class="h-14 w-12"
            >
        </span>
    </form>
</section>