<section>
    <h2 class="text-xl font-semibold text-gray-100">Catálogo</h2>
    <div class="flex w-full gap-4 flex-wrap md:flex-nowrap">
        <app-filter class="w-full md:w-min" 
        [formControl]="searchControl"
        (categoryChange)="categoryControl.setValue($event)"
        (maxPriceChange)="maxPriceControl.setValue($event)"
        [maxValue]="maxValue()"       
        ></app-filter>
        <div class="flex flex-col flex-nowrap gap-2 w-full">
            @switch(productState.state().status){
                @case('error') {
                    <p>Error</p>
                }
                @case('loading') {
                    <app-product-list-skeleton></app-product-list-skeleton>
                    <app-product-list-skeleton></app-product-list-skeleton>
                    <app-product-list-skeleton></app-product-list-skeleton>
                }
                @default{
                    @if(searchControl.value?.trim() !== '' || categoryControl.value !== null) {
                        @if (filteredProducts.length === 0) {
                            <app-empty-product></app-empty-product>
                        } @else {
                            @for(product of filteredProducts; track product.id;) {
                                @defer (on viewport) {
                                    <app-product-card [product]="product" (add)="addToCart($event)"></app-product-card>
                                }@placeholder {
                                    <app-product-list-skeleton></app-product-list-skeleton>
                                }
                                
                            }
                        }
                    } @else {
                        @for(product of productState.state().products; track product.id;) {
                            @defer (on viewport) {
                                <app-product-card [product]="product" (add)="addToCart($event)"></app-product-card>
                            }@placeholder {
                                <app-product-list-skeleton></app-product-list-skeleton>
                            }
                        }
                    }
                }
            }
            <!-- 
            <app-pagination></app-pagination> -->
        </div>
    </div>
</section>