::ng-deep mat-dialog-content,
.title,
.footer {
  @apply bg-slate-900;
}

.dialog {
  @apply bg-slate-900;
  height: min-content !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: start !important;
  padding: 20px !important;
}

.title {
  margin-bottom: -2px;
  font-size: 32px !important;
  padding: 16px !important;
  line-height: 1.25 !important;
}

.footer {
  margin-top: -2px;
  align-self: flex-end !important;
}

::ng-deep mat-form-field {
  width: 12rem !important;
  padding: 5px !important;

  & input {
    width: 100% !important;
    padding: 0 !important;
  }
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  &::after,
  &::before {
    @apply bg-gray-600 !important;
    @apply text-gray-600 !important;
  }
  @apply bg-gray-600 !important;
  @apply text-gray-600 !important;
}

:host ::ng-deep .mdc-line-ripple {
  &::after,
  &::before {
    @apply bg-gray-600 !important;
    @apply text-gray-600 !important;
  }
  @apply bg-gray-600 !important;
  @apply text-gray-600 !important;
}
::ng-deep mat-label {
  width: 100% !important;
}

:host ::ng-deep mat-dialog-content {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  height: min-content !important;
  justify-content: center !important;
  align-items: center !important;
}