<a [routerLink]="['/catalogo/producto', product().slug]">
    <article class="flex flex-col w-max h-auto border bg-slate-100 border-gray-200 shadow-md dark:shadow-none dark:bg-gray-800 dark:border-gray-600 rounded-lg relative">
        @if (product().stock >= 10){

        <div
            class="absolute top-2 left-2 text-sm bg-green-800 text-green-100 font-semibold px-2 py-1 rounded-lg w-min mb-2">
            Stock
        </div>

        } @else if (product().stock <= 0){ <div
            class="absolute top-2 left-2 text-sm bg-red-700 text-red-100 font-semibold px-2 py-1 rounded-lg w-20 mb-2">
            Sin Stock
            </div>

            } @else {

            <div
                class="absolute top-2 left-2 text-sm bg-yellow-700 text-yellow-100 font-semibold px-2 py-1 rounded-lg w-32 mb-2 text-center">
                Pocas unidades
            </div>
            }
            <div class="h-40 w-52 max-w-52 md:h-56 md:w-64 md:max-w-64">
                <img [src]="product().imagen" [alt]="'Producto: ' + product().nombre"
                class="object-cover w-full h-full rounded-t-md border-b border-gray-200 dark:border-gray-600" />
            </div>
            <div class="p-4">
                <p class="text-wrap overflow-clip max-w-48 text-gray-900 dark:text-gray-100">{{ product().nombre }}</p>
                <div class="flex justify-between items-center">
                    <p class="text-lg font-semibold !m-0 !p-0 text-gray-900 dark:text-gray-100">{{ product().precio | currency:'CLP' }}</p>
                    <div class="flex gap-2">
                        <button mat-mini-fab class="!bg-pink-800 !text-pink-200 dark:!bg-pink-300 dark:!text-pink-800 !shadow-none !rounded-lg"
                            (click)="addToFav($event)" matTooltip='Agregar a favoritos'>
                            <mat-icon>favorite</mat-icon>
                            <span class="sr-only">Agregar a favoritos</span>
                        </button>
                        <button mat-mini-fab color="primary" class="!shadow-none !rounded-lg !bg-gray-900 !text-gray-100 dark:!bg-green-500 dark:!text-gray-900"
                            (click)="addToCart($event)" matTooltip='Agregar al carrito'>
                            <mat-icon>shopping_cart</mat-icon>
                            <span class="sr-only">Agregar al carrito</span>
                        </button>
                    </div>
                </div>
            </div>
    </article>
</a>