:root,
:host {
  --sys-background: #131318;
  --sys-on-background: #e4e1e9;
  --sys-surface: #131318;
  --sys-surface-dim: #131318;
  --sys-surface-bright: #39393f;
  --sys-surface-container-lowest: #0d0e13;
  --sys-surface-container-low: #1b1b21;
  --sys-surface-container: #1f1f25;
  --sys-surface-container-high: #29292f;
  --sys-surface-container-highest: #34343a;
  --sys-on-surface: #e4e1e9;
  --sys-surface-variant: #46464f;
  --sys-on-surface-variant: #c6c5d0;
  --sys-inverse-surface: #e4e1e9;
  --sys-inverse-on-surface: #303036;
  --sys-outline: #90909a;
  --sys-outline-variant: #46464f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #bbc3ff;
  --sys-primary: #bbc3ff;
  --sys-on-primary: #232c61;
  --sys-primary-container: #3a4379;
  --sys-on-primary-container: #dee0ff;
  --sys-inverse-primary: #525a92;
  --sys-secondary: #b9c3ff;
  --sys-on-secondary: #212c61;
  --sys-secondary-container: #384379;
  --sys-on-secondary-container: #dee1ff;
  --sys-tertiary: #f5b2e1;
  --sys-on-tertiary: #4e1e45;
  --sys-tertiary-container: #68355c;
  --sys-on-tertiary-container: #ffd7f0;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #77767d;
  --sys-neutral-variant: #767680;
  --sys-primary-fixed: #dee0ff;
  --sys-primary-fixed-dim: #bbc3ff;
  --sys-on-primary-fixed: #0b154b;
  --sys-on-primary-fixed-variant: #3a4379;
  --sys-secondary-fixed: #dee1ff;
  --sys-secondary-fixed-dim: #b9c3ff;
  --sys-on-secondary-fixed: #09164b;
  --sys-on-secondary-fixed-variant: #384379;
  --sys-tertiary-fixed: #ffd7f0;
  --sys-tertiary-fixed-dim: #f5b2e1;
  --sys-on-tertiary-fixed: #35082e;
  --sys-on-tertiary-fixed-variant: #68355c;
  --sys-inverse-secondary: #505b92;
  --sys-inverse-tertiary: #834c75;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
