:root,
:host {
  --md-sys-color-background: #fcf8ff;
  --md-sys-color-on-background: #1b1b21;
  --md-sys-color-surface: #fcf8ff;
  --md-sys-color-surface-dim: #dcd9e0;
  --md-sys-color-surface-bright: #fcf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f2fa;
  --md-sys-color-surface-container: #f0ecf4;
  --md-sys-color-surface-container-high: #eae7ef;
  --md-sys-color-surface-container-highest: #e5e1e9;
  --md-sys-color-on-surface: #1b1b21;
  --md-sys-color-surface-variant: #e4e1ec;
  --md-sys-color-on-surface-variant: #47464f;
  --md-sys-color-inverse-surface: #313036;
  --md-sys-color-inverse-on-surface: #f3eff7;
  --md-sys-color-outline: #787680;
  --md-sys-color-outline-variant: #c8c5d0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #595892;
  --md-sys-color-primary: #595892;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e2dfff;
  --md-sys-color-on-primary-container: #414178;
  --md-sys-color-inverse-primary: #c2c1ff;
  --md-sys-color-secondary: #585992;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e2dfff;
  --md-sys-color-on-secondary-container: #404178;
  --md-sys-color-tertiary: #864b6e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd8eb;
  --md-sys-color-on-tertiary-container: #6b3456;
  --md-sys-color-error: #904a43;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad5;
  --md-sys-color-on-error-container: #73342d;
  --md-sys-color-neutral: #78767d;
  --md-sys-color-neutral-variant: #787680;
  --md-sys-color-primary-fixed: #e2dfff;
  --md-sys-color-primary-fixed-dim: #c2c1ff;
  --md-sys-color-on-primary-fixed: #15134a;
  --md-sys-color-on-primary-fixed-variant: #414178;
  --md-sys-color-secondary-fixed: #e2dfff;
  --md-sys-color-secondary-fixed-dim: #c1c1ff;
  --md-sys-color-on-secondary-fixed: #14134a;
  --md-sys-color-on-secondary-fixed-variant: #404178;
  --md-sys-color-tertiary-fixed: #ffd8eb;
  --md-sys-color-tertiary-fixed-dim: #fab1d9;
  --md-sys-color-on-tertiary-fixed: #370728;
  --md-sys-color-on-tertiary-fixed-variant: #6b3456;
  --md-sys-color-inverse-secondary: #c1c1ff;
  --md-sys-color-inverse-tertiary: #fab1d9;
  --md-sys-color-inverse-error: #ffb4ab;
  --md-sys-color-error-fixed: #ffdad5;
  --md-sys-color-error-fixed-dim: #ffb4ab;
  --md-sys-color-on-error-fixed: #3b0907;
  --md-sys-color-on-error-fixed-variant: #73342d;
}