:root,
:host {
  --sys-background: #fbf8ff;
  --sys-on-background: #1b1b21;
  --sys-surface: #fbf8ff;
  --sys-surface-dim: #dbd9e0;
  --sys-surface-bright: #fbf8ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f5f2fa;
  --sys-surface-container: #efedf4;
  --sys-surface-container-high: #eae7ef;
  --sys-surface-container-highest: #e4e1e9;
  --sys-on-surface: #1b1b21;
  --sys-surface-variant: #e3e1ec;
  --sys-on-surface-variant: #46464f;
  --sys-inverse-surface: #303036;
  --sys-inverse-on-surface: #f2eff7;
  --sys-outline: #767680;
  --sys-outline-variant: #c6c5d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #515b92;
  --sys-primary: #515b92;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #dee1ff;
  --sys-on-primary-container: #394379;
  --sys-inverse-primary: #bac3ff;
  --sys-secondary: #505b92;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #dee1ff;
  --sys-on-secondary-container: #384379;
  --sys-tertiary: #824c76;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffd7f2;
  --sys-on-tertiary-container: #67355d;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #77767d;
  --sys-neutral-variant: #767680;
  --sys-primary-fixed: #dee1ff;
  --sys-primary-fixed-dim: #bac3ff;
  --sys-on-primary-fixed: #09164b;
  --sys-on-primary-fixed-variant: #394379;
  --sys-secondary-fixed: #dee1ff;
  --sys-secondary-fixed-dim: #b9c3ff;
  --sys-on-secondary-fixed: #09164b;
  --sys-on-secondary-fixed-variant: #384379;
  --sys-tertiary-fixed: #ffd7f2;
  --sys-tertiary-fixed-dim: #f4b2e2;
  --sys-on-tertiary-fixed: #35082f;
  --sys-on-tertiary-fixed-variant: #67355d;
  --sys-inverse-secondary: #b9c3ff;
  --sys-inverse-tertiary: #f4b2e2;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
