<section class="w-full min-h-screen">
    <mat-tab-group>
        <mat-tab label="Productos"> 
            <app-products-data [products]="products"></app-products-data>
        </mat-tab>
        <mat-tab label="Cliente"> 
            <app-client-data [client]="clientData"></app-client-data>
        </mat-tab>
        <mat-tab label="Envío y Pago"> 
            <app-delivery-data [delivery]="addressData" [payment]="paymentData"></app-delivery-data>
        </mat-tab>
    </mat-tab-group>
</section>
