<section>
    <h2 class="text-xl font-semibold text-gray-100">Carrito</h2>
    <div class="w-full flex flex-wrap md:flex-nowrap gap-5">
        <div class="w-full">
            @if(state.products().length === 0){
            <app-empty-cart class="block"></app-empty-cart>
            } @else {
            <div class="w-full flex flex-col gap-5">
            @for(cartItem of state.products(); track cartItem.product.id;){
            <app-cart-item class="block" [productCartItem]="cartItem" (onRemove)="onRemove($event)"
                (onDecrease)="onDecrease($event)" (onIncrease)="onIncrease($event)" (onFav)="onFav($event)"></app-cart-item>
            }
            </div>
            }
        </div>
        <app-checkout></app-checkout>
    </div>
    <app-also-bougth></app-also-bougth>
</section>