<button mat-fab 
[routerLink]="['/carrito']"
class="disabled:!hidden lg:!hidden !rounded-lg flex justify-center items-center !fixed bottom-4 right-4 dark:!bg-green-500 dark:!text-gray-900 !bg-blue-800 !text-white"
[disabled] = "cartService.count() === 0"
matTooltip="Ir al Carrito"
>
    <mat-icon>shopping_cart_checkout</mat-icon>
    <span class="sr-only">Ir al Carrito de compras</span>
    <span class="absolute bottom-0 left-0 bg-red-500 dark:bg-slate-200 border border-red-400 dark:border-slate-400 rounded-full w-7 h-7 flex justify-center items-center font-medium">
        {{ cartService.count() }}
    </span>
</button>