<div class="flex justify-center items-center w-full">
    <button mat-fab 
    [routerLink]="['/carrito']"
    class="disabled:!hidden lg:!hidden !w-80 !text-center !rounded-lg !flex justify-center items-center !gap-2 !fixed bottom-4 dark:!bg-green-500 dark:!text-gray-900 !bg-gray-900 !text-white"
    [disabled] = "cartService.count() === 0"
    matTooltip="Ir al Carrito"
    >
        <mat-icon>shopping_cart_checkout</mat-icon>
        <span class="font-medium">
            Ir al Carrito
        </span>
        <span class="bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 rounded-xl inline-block font-semibold px-3 py-1 text-center">
            {{ cartService.count() }}
        </span>
    </button>
</div>