<div class="container min-w-full">
  <app-header class="fixed top-0 w-full z-50" (toggleSidenav)="opened = !opened"></app-header>
  <mat-sidenav-container class="h-full mt-16 flex flex-col justify-between items-center">
    <mat-sidenav class="!rounded-none !bg-white dark:!bg-gray-800 transition-colors !fixed !top-12" [(opened)]="opened"
      mode="over" [autoFocus]="false">
      <div class="!flex !flex-col !justify-between !h-full overflow-hidden">
        <div>
          <a mat-button [routerLink]="['/home']" routerLinkActive="activeLink"
            class="!bg-transparent  hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start"
            (click)="opened = false">
            Home
            <mat-icon>home</mat-icon>
          </a>
          <a mat-button [routerLink]="['/catalogo']" routerLinkActive="activeLink"
            class="!bg-transparent  hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start"
            (click)="opened = false">
            Catálogo
            <mat-icon>list</mat-icon>
          </a>
          <a mat-button [routerLink]="['/carrito']" routerLinkActive="activeLink"
            class="!bg-transparent  hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start"
            (click)="opened = false">
            Carrito
            <mat-icon>shopping_cart</mat-icon>
          </a>
          @if(isLoggedIn){
          @if(userRol === 'admin'){
          <a mat-button [routerLink]="['/dashboard']"
            class="!bg-transparent !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start"
            (click)="opened = false">
            Dashboard
            <mat-icon>dashboard</mat-icon>
          </a>
          }
          <app-user-menu (toggleSidenav)="opened = !opened"></app-user-menu>
          <button mat-button (click)="logout()" (click)="opened = false"
            class="!bg-transparent  hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start">
            Cerrar Sesión
            <mat-icon>logout</mat-icon>
          </button>
          } @else {
          <button mat-button routerLinkActive="activeLink"
            class="!bg-transparent dark:!bg-gray-800 hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start"
            (click)="opened = false" (click)="openAuthDialog()">
            Iniciar Sesión
            <mat-icon>login</mat-icon>
          </button>
          }
          <button mat-button (click)="openOrderDialog()" (click)="opened = false"
            class="!bg-transparent  hover:bg-gray-300 dark:hover:!bg-gray-700 !text-gray-900 dark:!text-white !rounded-md !w-full !p-8 !text-lg !flex !items-center !justify-start">
            Estado de Compra
            <mat-icon>local_shipping</mat-icon>
          </button>
        </div>
        <app-theme-toggler></app-theme-toggler>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="bg-gray-100 dark:!bg-gray-900 transition-colors">
      <main class="bg-gray-100 dark:bg-gray-900 py-4 antialiased md:py-12 w-full flex flex-col px-8 md:px-[20vw]">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>