<div class="bg-gray-100 dark:bg-gray-900">
    <h1 class="!text-gray-900 dark:!text-gray-100 !font-semibold">Envíos</h1>
    <div class="flex justify-between w-full">
        <mat-form-field>
            <mat-label>Estado Envío</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="statusFilter($event.value)">
                <mat-option value="0">Ver Todos</mat-option>
                <mat-option value="1">Entregados</mat-option>
                <mat-option value="2">Asignados</mat-option>
                <mat-option value="3">Pendientes</mat-option>
            </mat-select>
            </mat-form-field>
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por...">
        </mat-form-field>
    </div>

    @if(dataSource.data.length > 0){
    @defer (on viewport){
    <table mat-table [dataSource]="dataSource" class="!bg-slate-100 dark:!bg-gray-900">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> ID </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre_cliente">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Nombre Cliente </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.client.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="rut_cliente">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Rut Cliente </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.client.rut}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Dirección </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.address.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="depto">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Nro. Dpto </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.address.depto ?? 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="ciudad">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Región </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.address.ciudad}} </td>
        </ng-container>

        <ng-container matColumnDef="comuna">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Comuna </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.address.comuna}} </td>
        </ng-container>

        <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Referencia </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.reference}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Fecha </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{element.date | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100"> Estado Envío </th>
            <td mat-cell *matCellDef="let element" class="!text-gray-900 dark:!text-gray-100"> {{status(element.status)}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="!text-gray-900 dark:!text-gray-100 !text-center"> Opciones </th>
            <td mat-cell *matCellDef="let element" class="!text-center">
                <button mat-mini-fab 
                (click)="openDialog(element)" 
                class="!text-white !bg-blue-400 !ml-2"
                matTooltip="Descripción">
                    <mat-icon>description</mat-icon>
                    <span class="sr-only">Descripción</span>
                </button>

                <button mat-mini-fab 
                class="!text-white !bg-gray-900 dark:!bg-slate-100 dark:!text-gray-900 !ml-2"
                [matMenuTriggerFor]="statusMenu"
                matTooltip="Estado"
                >
                    <mat-icon>more_vert</mat-icon>
                    <span class="sr-only">Cambiar Estado</span>
                </button>

                <mat-menu #statusMenu="matMenu">
                    <button [disabled]="element.status === 1" mat-menu-item (click)="switchStatus(element.id, 1, { nombre: element.client.nombre, orderRef: element.reference, email: element.client.email, action: getAction(), status: 'Entregado', type : getType()})">
                        <mat-icon>done</mat-icon>
                        <span>Entregado</span>
                    </button>
                    <button [disabled]="element.status === 2" mat-menu-item (click)="switchStatus(element.id, 2, { nombre: element.client.nombre, orderRef: element.reference, email: element.client.email, action: getAction(), status: 'Asignado', type : getType()})">
                        <mat-icon>person_check</mat-icon>
                        <span>Asignado</span>
                    </button>
                    <button [disabled]="element.status === 3" mat-menu-item (click)="switchStatus(element.id, 3, { nombre: element.client.nombre, orderRef: element.reference, email: element.client.email, action: getAction(), status: 'Pendiente', type : getType()})">
                        <mat-icon>pending</mat-icon>
                        <span>Pendiente</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    }@placeholder {
    <h1>Cargando...</h1>
    }
    } @else {
    <h1>No hay Productos</h1>
    }
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25, 50, 100]" class="!bg-slate-100 dark:!bg-gray-900 !text-gray-900 dark:!text-gray-100"
        showFirstLastButtons></mat-paginator>
</div>