<header class="antialiased fixed top-0 left-0 z-50 w-full bg-white dark:bg-gray-800">
    <nav class=" px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center gap-10">
                <button mat-icon-button (click)="toggleSidenav.emit()" class="!text-gray-900 dark:!text-white">
                    <mat-icon>menu</mat-icon>
                </button>
                <a [routerLink]="['/']" class="flex mr-4">
                    <img src="logo.png" class="mr-3 h-8" alt="Camaras Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-900 dark:text-white">Camaras</span>
                </a>
            </div>
            <div class="flex items-center lg:order-2">
                <a 
                mat-flat-button
                [routerLink]="['/home']"
                class="!bg-gray-900 !text-white dark:!bg-slate-100 dark:!text-gray-900 !rounded-lg"
                >
                    <mat-icon>store</mat-icon>
                    Tienda
                </a>
            </div>
        </div>
    </nav>
</header>
