<a [routerLink]="['/catalogo/producto', product().id]">
    <div class="border rounded-lg bg-gray-800 border-gray-700 shadow-sm shadow-gray-950 flex flex-col md:flex-row w-full">
        <div class="h-52 w-full md:min-w-52 flex justify-start items-center">
            <img class="object-cover h-full w-full md:min-w-52 rounded-t-lg md:rounded-e-none md:rounded-s-lg border-b md:border-r border-gray-600" 
            [src]="product().imagen" 
            [alt]="'Producto: ' + product().nombre"
            />
        </div>
        <div class="flex flex-col justify-between items-start p-5 w-full h-auto">
            <div class="w-max">
                <h5 class="text-xl font-semibold !text-wrap text-white">{{product().nombre}}</h5>
            </div>

            @if (product().stock >= 10){

                <div class="text-sm bg-green-800 text-green-100 font-semibold px-2 py-1 rounded-xl w-min mb-2">
                    Stock
                </div>

            } @else if (product().stock <= 0){ 

                <div
                class="text-sm bg-red-700 text-red-100 font-semibold px-2 py-1 rounded-xl w-20 mb-2">
                Sin Stock
                </div>

            } @else {

                <div class="text-sm bg-yellow-700 text-yellow-100 font-semibold px-2 py-1 rounded-xl w-32 mb-2 text-center">
                    Pocas unidades
                </div>
            }

            <div class="flex items-center justify-between w-full">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">{{product().precio | currency:'CLP'}}</span>
                <button 
                    mat-fab
                    color="primary"
                    [disabled]="product().stock <= 0"
                    (click)="addToCart($event)">
                    <p class="sr-only">Agregar al carrito</p>
                    <mat-icon class="!m-0" aria-label="Cart icon" aria-hidden="false">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</a>