<a [routerLink]="['/catalogo/producto', product().id]">
    <div class="border rounded-lg bg-gray-800 border-gray-700 shadow-sm shadow-gray-950 flex w-full">
        <div class="h-52 w-52 flex justify-center items-center border-r border-gray-600">
            <img class="object-cover h-52 w-52 rounded-s-lg" [src]="product().imagen" [alt]="'Producto: ' + product().nombre" />
        </div>
        <div class="flex flex-col justify-between items-start p-5 w-full">
            <h5 class="text-xl font-semibold tracking-tight text-white">{{product().nombre}}</h5>

            @if (product().stock >= 10){

                <div class="text-sm bg-green-800 text-green-100 font-semibold px-2 py-1 rounded-xl w-min mb-2">
                    Stock
                </div>

            } @else if (product().stock <= 0){ 

                <div
                class="text-sm bg-red-700 text-red-100 font-semibold px-2 py-1 rounded-xl w-20 mb-2">
                Sin Stock
                </div>

            } @else {

                <div class="text-sm bg-yellow-700 text-yellow-100 font-semibold px-2 py-1 rounded-xl w-32 mb-2 text-center">
                    Pocas unidades
                </div>
            }

            <div class="flex items-center justify-between w-full">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">{{product().precio | currency:'CLP'}}</span>
                <button 
                    mat-flat-button
                    (click)="addToCart($event)"
                    class="!rounded-md !bg-blue-600 !text-white !py-6 !px-8 !hover:bg-blue-800 !transition !flex !items-center !justify-center !gap-3">
                    <p class="!m-0 !p-0 hidden md:block">Agregar al carrito</p>
                    <mat-icon class="!m-0" aria-label="Cart icon" aria-hidden="false">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</a>