<a [class.cursor-default]="product().stock <= 0" [routerLink]="['/catalogo/producto', product().slug]">
    <div class="border rounded-lg bg-slate-100 dark:bg-gray-800 border-gray-200 dark:border-gray-700 shadow-lg dark:shadow-sm dark:shadow-gray-950 flex flex-col md:flex-row w-full">
        <div class="min-h-52 h-52 md:h-auto md:max-h-60 w-full md:min-w-52 flex justify-start items-center">
            <img [class.!grayscale]="product().stock <= 0" class="object-cover h-full w-full md:min-w-52 rounded-t-lg md:rounded-e-none md:rounded-s-lg border-b md:border-r md:border-b-0 border-gray-200 dark:border-gray-600" 
            [src]="product().imagen" 
            [alt]="'Producto: ' + product().nombre"
            />
        </div>
        <div class="flex flex-col justify-between items-start p-5 w-full h-auto">
            <div class="w-full max-w-96 overflow-clip">
                <span class="!text-lg xl:!text-2xl font-medium !text-wrap text-gray-900 dark:text-white">{{product().nombre}}</span>
            </div>

            @if (product().stock >= 10){

                <div class="text-sm bg-green-800 text-green-100 font-semibold px-2 py-1 rounded-xl w-min mb-2">
                    Stock
                </div>

            } @else if (product().stock <= 0){ 

                <div
                class="text-sm bg-red-700 text-red-100 font-semibold px-2 py-1 rounded-xl w-20 mb-2">
                Sin Stock
                </div>

            } @else {

                <div class="text-sm bg-yellow-700 text-yellow-100 font-semibold px-2 py-1 rounded-xl w-32 mb-2 text-center">
                    Pocas unidades
                </div>
            }

            <div class="flex items-center justify-between w-full">
                <span class="text-xl xl:text-3xl font-bold text-gray-900 dark:text-gray-100">{{product().precio | currency:'CLP'}}</span>
                <button 
                    mat-fab
                    [disabled]="product().stock <= 0"
                    (click)="addToCart($event)"
                    class="!rounded-lg disabled:dark:!bg-gray-600 disabled:!bg-gray-400 !shadow-md !bg-slate-900 dark:!bg-green-500 !text-slate-100 dark:!text-gray-900"
                    matTooltip="Agregar al carrito"
                    >
                    <p class="sr-only">Agregar al carrito</p>
                    <mat-icon class="!m-0 !text-slate-100 dark:!text-gray-900" aria-label="Cart icon" aria-hidden="false">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</a>