<section
    class="flex flex-col justify-start items-start w-full bg-gray-800 p-5 rounded-lg gap-10 mb-3 border border-gray-700">
    <div class="w-full flex justify-between">
        <h3 class="text-xl font-bold text-white !mb-0 w-full">Filtrar</h3>
        @if (isFiltered){
        <button mat-icon-button (click)="resetFilter()">
            <mat-icon>filter_alt_off</mat-icon>
        </button>
        }
    </div>

    <!-- SEARCH -->
    <mat-form-field class="w-full" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput [formControl]="formControl" id="search" type="text" class="w-full">
    </mat-form-field>

    <!-- CATEGORY -->
    <mat-form-field class="w-full" appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select [formControl]="categoryControl">
            <mat-option value="">Todas las categorías</mat-option>
            @for (cat of categories; track cat.id) {
            <mat-option [value]="cat.id">
                {{cat.nombre}}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <!-- PRICE -->
    <mat-label>Precio</mat-label>
    <mat-slider 
    class="!w-full"
    [formControl]="maxPriceControl" 
    min="0" 
    [max]="maxValue" 
    step="1000" 
    discrete="true" 
    name="price" 
    ngDefaultControl>
        <input matSliderThumb class="!w-full">
    </mat-slider>
</section>