<mat-accordion class="!w-full !bg-slate-100 dark:!bg-gray-800">
    <mat-expansion-panel 
    [expanded]="isLargeScreen || panelState()"
    [disabled]="isLargeScreen"
    (opened)="panelState.set(true)" 
    (closed)="panelState.set(false)"
    class="!bg-slate-100 dark:!bg-gray-800 !flex !flex-col !justify-center !items-start !w-full !shadow-md !shadow-gray-400 dark:!shadow-none !border !border-slate-200 dark:!border-gray-700">
        <mat-expansion-panel-header class="!w-full !py-8 !bg-slate-100 dark:!bg-gray-800">
            <h5 class="text-xl font-bold text-gray-900 dark:text-white !mb-0 w-full">Filtrar</h5>
            @if (isFiltered){
            <button mat-icon-button (click)="resetFilter()">
                <mat-icon>filter_alt_off</mat-icon>
            </button>
            }
        </mat-expansion-panel-header>
        <!-- ORDER BY -->
        <mat-form-field class="!w-full">
            <mat-label>Ordenar por</mat-label>
            <mat-select [formControl]="orderByControl">
                <mat-option value="precioAsc">Menor precio</mat-option>
                <mat-option value="precioDesc">Mayor precio</mat-option>
                <mat-option value="stockAsc">Menor stock</mat-option>
                <mat-option value="stockDesc">Mayor stock</mat-option>
                <mat-option value="nombreAsc">Nombre: A-Z</mat-option>
                <mat-option value="nombreDesc">Nombre: Z-A</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- SEARCH -->
        <mat-form-field class="!w-full" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput [formControl]="formControl" id="search" type="text" class="w-full">
        </mat-form-field>

        <!-- CATEGORY -->
        @if (this.categories$()){
            <mat-form-field class="!w-full" appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select [formControl]="categoryControl">
                    <mat-option value="">Todas las categorías</mat-option>
                    @for (cat of categories; track cat.id) {
                    <mat-option [value]="cat.id">
                        {{cat.nombre}}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        } @else {
            <div class="w-full h-14 bg-gray-400 dark:bg-gray-500 animate-pulse rounded-t-md mb-3"></div>
        }

        <!-- PRICE -->
        <div class="flex flex-col gap-1 !w-full">
            <mat-label class="text-gray-900 dark:text-white">Precio</mat-label>
            <mat-slider class="!w-full" [formControl]="maxPriceControl" min="0" [max]="maxValue" step="1000"
                discrete="true" [displayWith]="displayFormattedValue" name="price" ngDefaultControl>
                <input matSliderThumb class="!w-full">
            </mat-slider>
        </div>
    </mat-expansion-panel>
</mat-accordion>
