<section class="flex flex-row justify-center lg:justify-start  lg:flex-col gap-3 border-b lg:border-r lg:border-b-0 border-gray-200 dark:border-gray-600">
    <a routerLink="/account/profile" routerLinkActive="accountItemActive" class="accountItem">
        Mi cuenta
    </a>
    <a routerLink="/account/orders" class="accountItem" routerLinkActive="accountItemActive">
        Mis pedidos
    </a>
    <a routerLink="/account/settings" class="accountItem" routerLinkActive="accountItemActive">
        Configuraciones
    </a>
</section>