<div class="flex flex-wrap md:flex-nowrap items-center text-center justify-center md:justify-start md:text-start bg-slate-100 dark:bg-gray-800 shadow-lg dark:shadow-none rounded-2xl border border-gray-200 dark:border-gray-700 p-6 w-full">
    <app-icon-empty-cart class="!w-min !h-full place-content-center text-center"></app-icon-empty-cart>
    <div class="flex flex-col md:items-start md:justify-start items-center jusitfy-center p-8">
        <h2 class="text-lg md:text-xl !font-medium text-gray-500 dark:text-gray-200 !mb-0 !py-0">Tu carrito está vacío</h2>
        <p class="text-gray-400 text-lg font-medium py-4 pb-4">Parece que no haz agregado nada aún.</p>
        <a routerLink="/catalogo"
            mat-flat-button
            class="!bg-blue-600 !text-white !py-6 !px-8 !rounded-md !hover:bg-blue-800 !transition !font-medium !text-xl">
            Catálogo
        </a>
    </div>
</div>