::ng-deep mat-dialog-content,
.title,
.footer {
  @apply bg-slate-700;
}

.dialog {
  @apply bg-slate-700;
  height: min-content !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: start !important;
  padding: 20px !important;
}

.title {
  margin-bottom: -2px;
  font-size: 32px !important;
  padding: 16px !important;
  line-height: 1.25 !important;
}

.footer {
  align-self: flex-end !important;
  padding-bottom: 0 !important;
}

::ng-deep mat-form-field {
  width: 12rem !important;
  padding: 5px !important;

  & input {
    width: 100% !important;
    padding: 0 !important;
  }
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  &::after,
  &::before {
    @apply bg-gray-600 !important;
    @apply text-gray-600 !important;
  }
  @apply bg-gray-600 !important;
  @apply text-gray-600 !important;
}

:host ::ng-deep .mdc-line-ripple {
  &::after,
  &::before {
    @apply bg-gray-600 !important;
    @apply text-gray-600 !important;
  }
  @apply bg-gray-600 !important;
  @apply text-gray-600 !important;
}
::ng-deep mat-label {
  width: 100% !important;
}

:host ::ng-deep mat-dialog-content {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  justify-content: center !important;
  align-items: center !important;
}

.image-preview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.mainContainer::-webkit-scrollbar-thumb{
  @apply rounded-full bg-gray-900 dark:bg-slate-100 hover:bg-gray-800 dark:hover:bg-slate-300
}

.mainContainer::-webkit-scrollbar {
  @apply h-1 w-2 bg-slate-300 dark:bg-gray-600 rounded-full;
}