<div class="bg-gray-100 dark:bg-gray-900">
    <h1 class="!text-gray-900 dark:!text-gray-100 !font-semibold">Productos</h1>
    @if (products$()) {
        <app-data-table 
            [data]="products$()" 
            [columns]="columns" 
            (reloadEmitter)="reloadTable()"
            (openDialogEmitter)="openDialog()"
            >
            <ng-template #actionsTemplate let-element>
                @if (element.imagen){
                    <button mat-mini-fab 
                    (click)="verImagen(element)"
                    class="!bg-gray-900 !text-white dark:!bg-slate-100 dark:!text-gray-900"
                    matTooltip="Ver Imagen"
                    >
                        <mat-icon>image</mat-icon>
                        <span class="sr-only">Ver Imagen</span>
                    </button>
                }
                <button mat-mini-fab 
                (click)="openDialog(element)" 
                class="!text-white !bg-blue-400 !ml-2"
                matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                    <span class="sr-only">Editar</span>
                </button>

                <button mat-mini-fab 
                (click)="deleteProducto(element.id)" 
                class="!text-white !bg-red-500 !ml-2"
                matTooltip="Eliminar"
                >
                    <mat-icon>delete</mat-icon>
                    <span class="sr-only">Eliminar</span>
                </button>
            </ng-template>
        </app-data-table>
        }
</div>